{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<a href="{{ path("app_etudiant_add") }}">Ajout Etudiant</a>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Section</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
    {% for etudiant in etudiants %}
        <tr>
            <th scope="row">{{ etudiant.nom }}</th>
            <td>{{ etudiant.prenom }}</td>
            {% if etudiant.section is null%}
            <td>Etudiant Non affecte a une section</td>
            {% else %}
            <td>{{ etudiant.section.designation }}</td>

            {% endif %}
                <td><a class="btn btn-danger" href="{{ path("app_etudiant_delete",{"id":etudiant.id}) }}">DELETE</a> </td>
            <td><a class="btn btn-info" href="{{ path("app_etudiant_edit",{"id":etudiant.id}) }}">Edit</a> </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
